html
  head
    title= title
  body
    h1 bakuretsu v1.0.0
    p developed by team nyanpasu
    br
    form(action='fileupload', enctype='multipart/form-data', method='post')
      input(type="file", name="fileupload")
      br
      input(type="submit")
